*{
    margin: 0;
    padding: 0;
}
#parrent{
  display: grid;
}

#middle{
  display: flex;
}

#header{
  width: 100vw;
  height: 20vh;
  background-color: blue;
}

#left{
  width: 20vw;
  height: 70vh;
  background-color: red;
}

#right{
  width: 80vw;
  height: 70vh;
  background-color: green;

}

#footer{
  width: 100vw;
  height: 10vh;
  background-color: orange;
} 
